<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <form
            action="/api/connect"
            method="post">
            <label for="chatname">Chatname:</label>
            <input
                type="text"
                id="chatname"
                name="chatname"
                required />

            <button type="submit">Connect to a chat</button>
        </form>

        <button id="create_chat">Create chat</button>
    </body>
    <script>
        document.getElementById("create_chat").addEventListener("click", async () => {
            const url = "/api/create";
            const chatname = document.getElementById("chatname").value;
            const data = {
                chatname: chatname,
            };
            const response = await fetch(url, {
                method: "POST",
                mode: "cors", // no-cors, *cors, same-origin
                cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
                credentials: "same-origin", // include, *same-origin, omit
                headers: {
                    "Content-Type": "application/json",
                    // 'Content-Type': 'application/x-www-form-urlencoded',
                },
                redirect: "follow", // manual, *follow, error
                referrerPolicy: "no-referrer", // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
                body: JSON.stringify(data), // body data type must match "Content-Type" header
            }).then((res) => {
                console.log(res);
                window.location.href = res.url;
            });
        });
    </script>
</html>
